.container {
  display: flex;
  margin: auto;
  width: 1000px;
  padding: 1%;
}

.container .container__left {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.container .container__left .container__search button {
  margin: 5px;
}

.container .container__left .container__info :first-child {
  display: flex;
}

.container .container__right {
  display: flex;
  flex-direction: column;
}

.container .container__right button {
  margin: 5px;
}
