.container {
  display: flex;
  margin: auto;
  padding: 10px 0;
  width: 600px;
}

.container__left {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: rgba(34, 36, 36, 0.9);
  padding: 5px;
}

.container__left .container__search button {
  margin: 5px;
}

.container__left h1 {
  color: #d6d6d3;
}

.container__left .container__info {
  font-weight: bold;
  color: #d6d6d3;
  display: flex;
  flex-direction: column;
}

.container__left .container__info .horizontalBlock {
  display: flex;
  align-items: center;
}

.container__left .container__info .settingsBlock {
  background-color: rgba(168, 165, 165, 0.582);
  justify-content: space-evenly;
}

.container__left .container__info span {
  padding: 0 20px 0 0;
  color: darkgrey;
}

.container__right {
  display: flex;
  flex-direction: column;
  width: 20%;
  color: #d6d6d3;
  background-color: rgba(34, 36, 36, 0.9);
  padding: 5px;
}

.container__right button {
  margin: 5px 0;
}

@media (max-width: 610px) {
  .container {
    width: 100%;
    margin: 0px;
  }
}

@media (max-width: 410px) {
  .container {
    flex-direction: column;
  }
  .container__left {
    width: 98%;
    padding: 1%;
  }
  .container__right {
    width: 98%;
    padding: 1%;
  }
  .container__right :first-child {
    background-color: rgba(168, 165, 165, 0.582);
    text-align: center;
    font-size: 20px;
  }
}
